#--------------------------------------------------------------------
# ENVIRONMENT UNTUK SERVER PRODUKSI (DEPLOY)
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
# Sesuaikan baseURL dengan domain/subdomain resmi sekolah Anda
# WAJIB berakhiran slash '/' dan diawali https:// (jika sudah pasang SSL)
#--------------------------------------------------------------------
app.baseURL = 'https://absen.sekolah.sch.id/'
app.forceGlobalSecureRequests = false
app.CSPEnabled = false
app.appTimezone = 'Asia/Jakarta'

#--------------------------------------------------------------------
# DATABASE PRODUKSI (Sesuaikan dengan kredensial cPanel/VPS Anda)
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = nama_database_hosting
database.default.username = user_database_hosting
database.default.password = 'password_database_hosting'
database.default.DBDriver = MySQLi
database.default.DBPrefix = ''
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

#--------------------------------------------------------------------
# ENCRYPTION KEY
#--------------------------------------------------------------------
encryption.key = hex2bin:eef916b7e40f62d6ddf14d023610c5c14fb5fdc263dffa035f8f9f670e1f77a4
